@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Mitr:wght@300&family=Passion+One&display=swap");

/* added styling to the container whole page contain */
.container {
  height: 0 auto;
  width: 0 auto;
  display: block;
}

/* style to the section page middle page of this site*/
.section {
  height: 600px;
  background-color: aliceblue;
  background-image: url(https://media.istockphoto.com/photos/taekwondo-karate-teenager-athlete-kick-punch-black-background-picture-id1284837366?b=1&k=20&m=1284837366&s=170667a&w=0&h=go2RC2zWY2IwpgtxcjClMRHmgLKShCG1ez9m0S0jonk=);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light, darken;
  padding: 0%;
  display: flex;
}
/* style the box includes the form styling and content*/
#box {
  display: flex;
  height: 500px;
  width: 400px;
  background-color: #ecc488;
  border: none;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 2px darkred;
  padding: 5%;
  margin: 50px 50px 50px 50px;
}

/*styling the form content of the box*/
form {
  font-family: "Mitr", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 10%;
}
/* styling the input fields of the form*/
input[type="text"],
[type="password"],
[type="date"],
select {
  border: 2px solid red;
  border-radius: 4px;
  width: 100%;
  height: 10%;
  font-family: sans-serif;
  font-size: 16px;
}
/*style of submit button*/
input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
/* hover effect to submit button */
input[type="submit"] :hover {
  background-color: #45a049;
  align-items: center;
}
/* styling to dropdown menu of the form */
.dropdown {
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
}
/* styling the taable */
* {
  box-sizing: border-box;
}
/*adding style to table rows table design*/
th {
  border: 3px solid rgb(0, 0, 0);
  font-family: Mitr;
  background-color: rgb(25, 0, 255);
  border-radius: 5px;
  color: white;
}

/* added style to table */
table {
  border: 2px solid black;
  background-color: rgb(140, 128, 248);
  table-layout: auto;
  width: 100%;
  text-align: center;
}
/* style added to table data */
td {
  border: 2px solid rgb(7, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  font-weight: bold;
}
/* style added to class in background for status */
.active {
  background-color: rgb(9, 248, 9);
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.active:hover {
  background-color: darkgreen;
}
