
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&family=Mitr:wght@300&family=Passion+One&display=swap');

  /* added styling to the container whole page contain */ 
  .container {
    width: auto;
    margin: 0 auto;
  }
  /*header styling to this page header*/
  #mast {
    background-color: #ee82ee;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
    font-size: 28px;
    color: white;
    margin: auto;
    padding: 5%;
  }
  /* style to the section page middle page of this site*/
  .section {
    height: 800px;
    border: 1px solid #ddd;
    background-color: aliceblue;
    background-image: url(https://images.unsplash.com/photo-1643808889846-f8c08346d358?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80), url(https://media.istockphoto.com/photos/taekwondo-karate-teenager-athlete-kick-punch-black-background-picture-id1284837366?b=1&k=20&m=1284837366&s=170667a&w=0&h=go2RC2zWY2IwpgtxcjClMRHmgLKShCG1ez9m0S0jonk=);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    padding: 0%;
  }
  /* style the box includes the form styling and content*/
  #box {
    display: flex;
    height: 500px;
    width: 400px;
    background-color: #ECC488;
    border: none;
    margin: 10% 10% 10%;
    text-align: left;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 2px black;
    background-size: cover;
  }
  /* added animation to name of the page*/
  #h1DIV {
    animation: mymove 5s ease-in-out infinite;
  }
  /* shadow effect by using keyframe properties ease-in-out effect*/ 
  @keyframes mymove {
    50% {
      text-shadow: 0px 3px 20px red;
    }
  }
  /* adding style to heading 2*/
  .h2 {
    color: #2600ff;
    font-family: 'Passion One', cursive;
  }
  /*styling the form content of the box*/
  form {
    margin: 10%;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  /* styling the input fields of the form*/
  input[type=text],
  [type=password],
  [type=date],
  select {
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    height: 10%;
    font-family: sans-serif;
    font-size: 16px;
  }
  /*style of submit button*/
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  /* hover effect to submit button */
  input[type=submit] :hover {
    background-color: #45a049;
  }
  /* styling to dropdown menu of the form */
  .dropdown {
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
  }
  #footer {
    background-color: black;
    color: white;
    padding: 10%;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
  }
  .col-1{
    width: 60%;
    display: inline-block;
  }
  .col-2{
    width: 30%;
    display: inline-block;
    text-decoration: none;
  }